name: Log Cleanup
permissions:
  contents: read
  actions: read
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  delete-old-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: yanovation/delete-old-actions@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          days-ago: 0
          dry-run: false
          keep-latest: 0
