name: Terraform Main Deployment
permissions: read-all # Allow the workflow to read the repository's content
on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    # Set default working directory for all 'run' commands in this job
    defaults:
      run:
        working-directory: ./terraform/
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_VAR_rg_name: ${{ secrets.BACKEND_RESOURCE_GROUP_NAME }}
      TF_VAR_storage_account_name: ${{ secrets.BACKEND_STORAGE_ACCOUNT_NAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Terraform Init
        run: terraform init -backend-config="resource_group_name=${{ secrets.BACKEND_RESOURCE_GROUP_NAME }}" -backend-config="storage_account_name=${{ secrets.BACKEND_STORAGE_ACCOUNT_NAME }}" -backend-config="container_name=${{ secrets.BACKEND_CONTAINER_NAME }}" -backend-config="key=${{ secrets.BACKEND_KEY }}" 

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
        if: github.ref == 'refs/heads/main'

      - name: Azure Logout
        run: |
          az logout # Good practice to log out of Azure after the job completes
        if: always() # Ensure this runs even if previous steps fail, to clean up credentials

  # Run Infracost on "main" branch and update Infracost Cloud
  infracost-default-branch-update:
    name: Infracost Default Branch Update
    if: github.event_name == 'push' && github.ref_name == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Setup Infracost
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Checkout main/master branch
        uses: actions/checkout@v6

      - name: Run Infracost on default branch and update Infracost Cloud
        run: |
          infracost breakdown --path=. \
                    --format=json \
                    --out-file=infracost.json

          infracost upload --path=infracost.json || echo "Always pass main branch runs even if there are policy failures"

